body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* bootstrap by default makes it to "left",
  since I want it to be in hebrew and I add in the HTML tag the "rtl" , 
  thus i set the text align to unset which return to default */
  text-align: center;
}
.container {
  height: 100vh;
  margin: auto;
}

/* ------------------------------- */
/* ---------   header       ------ */
/* ------------------------------- */
.header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: lavender;
}

.header__main {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: lavender;
}

.header__title {
  font-size: 1rem;
  word-spacing: 0.3px;
  letter-spacing: 20px;
}

/* ------------------------------- */
/* ---------create-category ------ */
/* ------------------------------- */

.create-category {
}
.create-category__content {
  font-size: 2rem;
}

.create-category__input {
  font-size: 2rem;
  color: blue;
}

.create-category__input::placeholder {
  font-size: 2rem;
  font-style: italic;
}

.create-category__input:hover {
  background-color: greenyellow;
}

#categoryButton {
  font-size: 1rem;
}

/* ------------------------------- */
/* ---------show-category ------ */
/* ------------------------------- */
.show-category {
}

.show-category__categoryList {
}
.show-category__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2px;
}

.show-category__grid-element {
  height: 200px;
  border: 1px solid red;
}

@media screen and (min-width: 576px) {
  .header__title {
    font-size: 3rem;
    word-spacing: 30px;
    letter-spacing: 10px;
  }
  .show-category__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2px;
  }
}

@media screen and (min-width: 768px) {
  .header__title {
    font-size: 5rem;
    word-spacing: 60px;
    letter-spacing: 40px;
  }
  .show-category__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
